/*
!README
!/app/main.py
!/static/css/main.css
!/static/css/reset.css
!/templates/index.html
!/templates/vacancy.html
!/templates/vacancy_list.html
!/static/assets/search.svg
!requirements
!init.bat
!run.bat
