/*
!README
!/app/main.py
!/app/pbh_companies.py
!/static/css/main.css
!/static/css/reset.css
!/templates/index.html
!/templates/vacancy.html
!/templates/vacancy_list.html
!/static/assets/*
!requirements
!init.bat
!run.bat
!init.sh
!run.sh
!README.md
!jjit.png
!/app/classes.py
