/*need for vacancy string with markup*/
a {
  text-decoration: underline solid #ffffff;
  color: #ffffff;

  transition: all 1s;
}

a:visited {
  text-decoration: underline solid #989898;
  color: #989898;
}

a:hover {
  text-decoration: underline solid #989898;
  color: #989898;
}

.body {
  min-height: 100vh;

  font-size: 20px;

  color: #ffffff;

  background-color: #4b5162;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 1em 2em;
  flex-wrap: wrap;

  gap: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  padding: 0 2em;

  gap: 1em;
}

.main_without-header {
  padding: 1em 2em 0 2em;
  min-height: calc(100vh - 80px);
}

.main__title {
  font-size: 1.2em;
  text-align: center;
}

.main__subtitle {
  font-size: 1em;
  text-align: center;
}

.button {
  min-width: 8em;
  padding: 0.1em 1em;

  text-decoration: none;
  color: #ffffff;
  text-align: center;

  border-radius: 1em;
  border: 2px solid #ffffff;
  background-color: transparent;

  transition: all 1s;

  cursor: pointer;
}

.button:visited {
   text-decoration: none;
   color: #ffffff;

   background-color: #ffffff;
 }

.button:hover {
  text-decoration: none;
  color: #4b5162;

  background-color: #ffffff;

  transition: all 1s;
}

.forms-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2em;
}

.form-specs {
  min-width: 50%;
}

.form-specs__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  gap: 2em;

  border-radius: 1em;
  border: 2px solid #ffffff;
}

.form-specs__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 0.3em 1em;
}

.form-specs__legend {
  margin: 0 auto;
  padding: 0 1em;

  text-align: center;
  font-size: 1.2em;
}

.form-specs__label {
  display: flex;
  align-items: center;
}

.form-specs__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 1em;
  height: 1em;
  margin-right: 0.2em;

  border-radius: 50%;
  border: 2px solid #ffffff;
  outline: none;

  transition: 0.1s all linear;
}

.form-specs__input:checked {
  border: 6px solid #ffffff;
}

.form-specs__search-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  gap: 0.3em 1em;
}

.form-specs__search {
  width: 14em;
  height: 2.12em;
  padding: 0 2em 0 1em;

  border-radius: 2em;
  border: 2px solid #4b5162;

  background-color: #666f88;
  background-image: url(./../assets/search.svg);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: right 0.5em center;

  color: #ffffff;

  transition: 0.1s all linear;
}

.form-specs__search::-webkit-input-placeholder {
  color: #cdcccc;
}

.form-specs__search::-moz-placeholder {
  color: #cdcccc;
}

.form-specs__search:active,
.form-specs__search:focus {
  outline: none;
  border: 2px solid #ffffff;

  transition: 0.1s all linear;
}

.form-specs__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1em;
}

.table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  border-collapse: collapse;
}

.table__header {
  position: sticky;
  top: 0;

  background-color: #4b5162;
}

.table__th {
  padding: 0.2em 0.5em;

  font-size: 1.1em;
  font-weight: bold;
}

.table__td {
  padding: 0.1em 0.3em;
}

.skill-td {
  text-align: center;
}

.table__tr:hover {
  background-color: #3a3d4a;
}

/*autocomplete start*/
.autocomplete-list {
  position: absolute;
  top: 2.12em;
  z-index: 2;

  display: none;
  flex-direction: column;
  align-items: center;
  max-height: 8em;
  width: 14em;
  padding: 0.5em;

  gap: 0.3em;

  background-color: #666f88;
  border: 2px solid #ffffff;
  border-top: none;
  border-radius: 0 0 1em 1em;

  overflow: auto;
}

.autocomplete-list_visible {
  display: flex;
}

.autocomplete-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 1em;

  font-size: 0.8em;
}

.autocomplete-list__item:hover {
  background-color: #3a3d4a;
}

.autocomplete-text-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.autocomplete-buttons-wrapper {
  display: flex;
  align-items: center;

  gap: 1em;
}

.autocomplete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  align-self: center;
  padding: 0.2em;

  cursor: pointer;
}

.autocomplete-button__icon {
  width: 1em;
  height: 1em;
}

.autocomplete-button:hover .autocomplete-button__icon {
  fill: #4b5162;
}

.search_active {
  border-radius: 1em 1em 0 0;
}

.selected-skill__button {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
}

.overlay_visible {
  visibility: visible;
  opacity: 1;
}

.form-specs__selected-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.5em;
}

.selected-skill {
  min-width: auto;

  font-size: 0.8em;
}

.selected-skill_included {
  border: 2px solid #08aa05;
}

.selected-skill_excluded {
  border: 2px solid #e00a0a;
}

.form-specs__prompt {
  text-align: center;
}
/*autocomplete end*/

/*1200+*/
@media (min-width: 1199.98px) {
  .forms-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 1em;
  }
}

/*576-767.98*/
@media (max-width: 767.98px) {
  .body {
    font-size: 18px;
  }

  .main {
    padding: 0 1em;
  }

  .table-wrapper {
    max-width: 700px;
    width: 100%;

    overflow: auto;

    transform: scaleY(-1);
  }

  .table {
    transform: scaleY(-1);
  }
}
