{% extends "main.html" %}

{% block title %}
<title>JJIT parser</title>
{% endblock %}

{% block content %}
<main class="main main_without-header">
  <h1 class="main__title">Hello, this is a JJIT parser</h1>
  <h2 class="main__subtitle">Number of vacancies uploaded: {{ vac_num }}</h2>
  <form class="form-refresh" action="/refresh">
    <button class="button">Refresh vacancy list</button>
  </form>

  <form class="form-specs" method="get" action="/vacancy_list">
    <div class="form-wrapper">
      <div class="first-column">
        <fieldset class="form-specs__fieldset">
          <legend class="form-specs__legend">Specialisations:</legend>
          <div class="form-specs__wrapper">
            {% for input_value in specs_list %}
            <label class="form-specs__label">
              <input class="form-specs__input" type="checkbox" name="spec" value="{{ input_value }}">{{ input_value }}
            </label>
            {% endfor %}
          </div>
        </fieldset>

        <fieldset class="form-specs__fieldset">
          <legend class="form-specs__legend">Workplace type:</legend>
          <div class="form-specs__wrapper">
            {% for input_value in workplace_type_list %}
            <label class="form-specs__label">
              <input class="form-specs__input" type="checkbox" name="workplace_type" value="{{ input_value }}">{{
              input_value }}
            </label>
            {% endfor %}
          </div>
        </fieldset>

        <fieldset class="form-specs__fieldset">
          <legend class="form-specs__legend">Remote interview:</legend>
          <div class="form-specs__wrapper">
            {% for input_value in remote_interview_list %}
            <label class="form-specs__label">
              <input class="form-specs__input" type="checkbox" name="remote_interview" value="{{ input_value }}">{{
              input_value }}
            </label>
            {% endfor %}
          </div>
        </fieldset>

        <fieldset class="form-specs__fieldset" id="searchFormSkills">
        </fieldset>


      </div>

      <div class="second-column">
        <fieldset class="form-specs__fieldset">
          <legend class="form-specs__legend">Countries:</legend>
          <div class="form-specs__wrapper">
            {% for input_value in country_list %}
            <label class="form-specs__label">
              <input class="form-specs__input" type="checkbox" name="country" value="{{ input_value }}">{{ input_value
              }}
            </label>
            {% endfor %}
          </div>
        </fieldset>

        <fieldset class="form-specs__fieldset">
          <legend class="form-specs__legend">Salary type:</legend>
          <div class="form-specs__wrapper">
            {% for input_key, input_value in salary_dict.items() %}
            <label class="form-specs__label">
              <input class="form-specs__input" type="checkbox" name="salary_type" value="{{ input_key }}">{{ input_key
              }}
              ({{ input_value }})
            </label>
            {% endfor %}
          </div>
        </fieldset>

        <fieldset class="form-specs__fieldset" id="searchFormCompanies">
        </fieldset>


      </div>
    </div>
    <div class="form-specs__buttons">
      <button class="button" type="reset">Reset</button>
      <button class="button" type="submit">Go</button>
    </div>
  </form>
</main>
<script type="module" src="{{ url_for('static', path='/js/main.js') }}"></script>
{% endblock %}
