<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="JJIT parser">
  <meta name="description"
        content="JJIT parser">

  <title>JJIT parser</title>

  <link rel="apple-touch-icon" sizes="180x180" href="./../static/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./../static/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./../static/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="./../static/assets/favicon/site.webmanifest">

  <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body class="body">
<main class="main main_without-header">
  <h1 class="main__title">Hello, this is a JJIT parser</h1>
  <h2 class="main__subtitle">Number of vacancies uploaded: {{ vac_num }}</h2>
  <form class="form-refresh" action="/refresh">
    <button class="button">Refresh vacancy list</button>
  </form>
  <div class="forms-wrapper">
    <form class="form-specs" method="get" action="/vacancy_list">
      <fieldset class="form-specs__fieldset">
        <legend class="form-specs__legend">Specialisations:</legend>
        <div class="form-specs__wrapper">
          {% for input_value in specs_list %}
          <label class="form-specs__label">
            <input class="form-specs__input" type="checkbox" name="spec" value="{{ input_value }}">{{ input_value }}
          </label>
          {% endfor %}
        </div>
        <div class="form-specs__buttons">
          <button class="button" type="reset">Reset</button>
          <button class="button" type="submit">Go</button>
        </div>
      </fieldset>
    </form>
    <form class="form-specs" method="get" action="/vacancy_list">
      <fieldset class="form-specs__fieldset">
        <legend class="form-specs__legend">Countries:</legend>
        <div class="form-specs__wrapper">
          {% for input_value in country_list %}
          <label class="form-specs__label">
            <input class="form-specs__input" type="checkbox" name="country" value="{{ input_value }}">{{ input_value }}
          </label>
          {% endfor %}
        </div>
        <div class="form-specs__buttons">
          <button class="button" type="reset">Reset</button>
          <button class="button" type="submit">Go</button>
        </div>
      </fieldset>
    </form>
    <form class="form-specs" method="get" action="/vacancy_list">
      <fieldset class="form-specs__fieldset">
        <legend class="form-specs__legend">Salary type:</legend>
        <div class="form-specs__wrapper">
          {% for input_key, input_value in salary_dict.items() %}
          <label class="form-specs__label">
            <input class="form-specs__input" type="checkbox" name="salary_type" value="{{ input_key }}">{{ input_key }} ({{ input_value }})
          </label>
          {% endfor %}
        </div>
        <div class="form-specs__buttons">
          <button class="button" type="reset">Reset</button>
          <button class="button" type="submit">Go</button>
        </div>
      </fieldset>
    </form>
    <form class="form-specs" id="searchForm" method="get" action="/vacancy_list">
      <fieldset class="form-specs__fieldset">
        <legend class="form-specs__legend">Search by skills:</legend>
        <p class="form-specs__prompt">Click "+" to include the skill to the search, click "-" to exclude the skill from the search. Click on a skill to remove it from the search.</p>
        <div class="form-specs__selected-skills"></div>
        <div class="form-specs__search-wrapper">
          <label>
            <input class="form-specs__search" type="search" placeholder="Search" autocomplete="off">
          </label>
          <ul class="form-specs__autocomplete-container autocomplete-list" >
          </ul>
          <div class="overlay"></div>
        </div>
        <div class="form-specs__buttons">
          <button class="button" type="reset">Reset</button>
          <button class="button" type="submit">Go</button>
        </div>
      </fieldset>
    </form>
  </div>
</main>
<footer class="footer">
  <p class="footer__text">Powered by: <a
      class="link footer__link"
      href="https://github.com/ArchiKeV"
      target="_blank"
      rel="noreferrer"
  >ArchiKeV</a></p>
  <p class="footer__text">Front-end: <a
      class="link footer__link"
      href="https://github.com/AmidaWolf"
      target="_blank"
      rel="noreferrer"
  >AmidaWolf</a></p>
</footer>

<script type="module" src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>
