<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="JJIT parser">
  <meta name="description"
        content="JJIT parser">

  <title>Vacancy - {{ vacancy['id'] }}</title>

  <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body class="body">
<header class="header">
  <a class="button" id="back" href="/{{ path_with_query }}"> < Back </a>
  <a class="button" href="/">Main page</a>
</header>
<main class="main">
  <h1 class="main__title">{{ vacancy['title'] }}</h1>
  <h2 class="main__subtitle">Company: {{ vacancy['company_name'] }}</h2>
  <div class="table-wrapper">
    <table class="table">
      <thead class="table__header">
      <tr>
        <th class="table__th">Skill</th>
        <th class="table__th">Level</th>
      <tr>
      </thead>
      <tbody class="table__body">
      {% for skill_dict in skills %}
      <tr class="table__tr">
        <td class="table__td skill-td">{{ skill_dict['skill'] }}</td>
        <td class="table__td skill-td">{{ skill_dict['level'] }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>{{ vacancy['description']|safe }}</div>
</main>
<footer class="footer">
  <p class="footer__text">Powered by: <a
      class="link footer__link"
      href="https://github.com/ArchiKeV"
      target="_blank"
      rel="noreferrer"
  >ArchiKeV</a></p>
  <p class="footer__text">Front-end: <a
      class="link footer__link"
      href="https://github.com/AmidaWolf"
      target="_blank"
      rel="noreferrer"
  >AmidaWolf</a></p>
</footer>
</body>
</html>
