{% extends "main.html" %}

{% block title %}
<title>Vacancy list</title>
{% endblock %}

{% block content %}
<header class="header">
  <a class="button" href="/">Main page</a>
</header>
<main class="main">
  <div class="table-wrapper">
    {% if list_of_vacancy %}
    <table class="table">
      <thead class="table__header">
      {% if query_without_sort %}
        {% set ulr_for_sort = "/vacancy_list?"+query_without_sort+"&" %}
      {% else %}
        {% set ulr_for_sort = "/vacancy_list?" %}
      {% endif %}
      <tr>
        <th class="table__th">
          <div class="th-wrapper">
            <p>ID ({{ vac_len }})</p>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Company name</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=company_name" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=company_name" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Country code</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=country_code" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=country_code" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>City</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=city" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=city" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Spec</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=specialization" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=specialization" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Remote Interview</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=remote_interview" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=remote_interview" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Workplace</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=workplace_type" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=workplace_type" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Rate</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=rate" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=rate" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Publication date</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=published_at" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=published_at" title="sort by desc"></a>
            </div>
          </div>
        </th>
        <th class="table__th">
          <div class="th-wrapper">
            <p>Status</p>
            <div class="sort-buttons-wrapper">
              <a class="button button_sort button_down" href="{{ulr_for_sort}}sort_asc=status" title="sort by asc"></a>
              <a class="button button_sort button_up" href="{{ulr_for_sort}}sort_desc=status" title="sort by desc"></a>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody class="table__body">
      {% for vacancy in list_of_vacancy %}
      <tr class="table__tr">
        <td class="table__td">
          <a class="link" href="/vacancy?vac_id={{ vacancy.id }}">{{ vacancy.title }}</a>
        </td>
        <td class="table__td">
          <a class="link" href="/vacancy_list?company_on={{ vacancy.company_name }}">{{ vacancy.company_name }}</a>
        </td>
        <td class="table__td table__td_centered">{{ vacancy.country_code }}</td>
        <td class="table__td table__td_centered">{{ vacancy.city }}</td>
        <td class="table__td table__td_centered">{{ vacancy.specialization }}</td>
        <td class="table__td table__td_centered">{{ vacancy.remote_interview }}</td>
        <td class="table__td table__td_centered">{{ vacancy.workplace_type }}</td>
        <td class="table__td table__td_centered">{{ vacancy.rate }}</td>
        <td class="table__td table__td_centered">{{ vacancy.published_at }}</td>
        <td class="table__td table__td_centered">{{ vacancy.status }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="table">Nothing found</p>
    {% endif %}
  </div>
</main>
{% endblock %}
