<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="JJIT parser">
  <meta name="description"
        content="JJIT parser">

  <title>Vacancy list</title>

  <link rel="apple-touch-icon" sizes="180x180" href="./../static/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./../static/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./../static/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="./../static/assets/favicon/site.webmanifest">

  <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body class="body">
<header class="header">
  <a class="button" href="/">Main page</a>
</header>
<main class="main">
  <div class="table-wrapper">
    {% if list_of_vacancy %}
    <table class="table">
      <thead class="table__header">
      <tr>
        <th class="table__th">ID ({{ vac_len }})</th>
        <th class="table__th">Company name</th>
        <th class="table__th">Country code, City</th>
        <th class="table__th">Spec</th>
        <th class="table__th">Remote Interview</th>
        <th class="table__th">Remote Work</th>
        <th class="table__th">Comment</th>
        <th class="table__th">Rate</th>
      </tr>
      </thead>
      <tbody class="table__body">
      {% for vacancy in list_of_vacancy %}
      <tr class="table__tr">
        <td class="table__td">
          <a class="link" href="/vacancy?vac_id={{ vacancy.id }}">{{ vacancy.title }}</a>
        </td>
        <td class="table__td">
          <a class="link" href="/vacancy_list?company={{ vacancy.company_name }}">{{ vacancy.company_name }}</a>
        </td>
        <td class="table__td">{{ vacancy.country_code }}, {{ vacancy.city }}</td>
        <td class="table__td">{{ vacancy.specialization }}</td>
        <td class="table__td">{{ vacancy.remote_interview }}</td>
        <td class="table__td">{{ vacancy.remote_work }}</td>
        <td class="table__td">{{ vacancy.comment }}</td>
        <td class="table__td">{{ vacancy.rate }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="table">Nothing found</p>
    {% endif %}
  </div>
</main>
<footer class="footer">
  <p class="footer__text">Powered by: <a
      class="link footer__link"
      href="https://github.com/ArchiKeV"
      target="_blank"
      rel="noreferrer"
  >ArchiKeV</a></p>
  <p class="footer__text">Front-end: <a
      class="link footer__link"
      href="https://github.com/AmidaWolf"
      target="_blank"
      rel="noreferrer"
  >AmidaWolf</a></p>
</footer>

</body>
</html>
